[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
django = "*"
django-rest-framework = "*"
awscli = "*"
pipenv = "*"
"psycopg2" = "*"
zappa-django-utils = "*"

[dev-packages]

[requires]
python_version = "3.6"
